<%= form_for @part do |f| %>
    <div class="form-group">
        <% if @part.errors.any? %>
    	   <p>
              <% @part.errors.full_messages.each do |part| %>
                 <li><%= part %></li>
              <% end %>
        	</p>
        <% end %>
        <p>
            <%= f.label :名前, class: "control-label" %><br>
            <%= f.text_field :name, class: "form-control"%>
        </p>
        <p>
            <%= f.label :ブランド %><br>
    	   <%= f.collection_select :brand_id, @brand, :id, :name, {:prompt => "選択してください"}, {class: "form-control"} %>
        </p>
        <p>
            <%= f.label :金額 %><br>
            <%= f.text_field :price, class: "form-control" %>
        </p>
        <p>
            <%= f.label :卸値 %><br>
            <%= f.text_field :whole_sale_price, class: "form-control" %>
        </p>
        <p>
            <%= f.label :説明 %><br>
            <%= f.text_field :part_outline, class: "form-control" %>
        </p>

        <p>
            <%= f.submit :登録, class:"btn btn-primary" %>
        </p>
    </div>
<% end %>