<%= form_for @brand do |f| %>

<% if @brand.errors.any? %>
	<p>
		<%= @brand.errors.messages[:name][0] %>
	</p>
<% end %>
<p>
    <%= f.label :名前 %><br>
    <%= f.text_field :name, class: "form-control" %>
</p>
<p>
    <%= f.label :説明 %><br>
    <%= f.text_field :brand_outline, class: "form-control" %>
</p>

<p>
    <%= f.submit :登録, class:"btn btn-primary" %>
</p>

<% end %>